@use "sass:math";
.createData {
  overflow-x: hidden;
  font-family: "Segoe UI";
}

.container {
  width: 85%;
  margin: 0 auto;
}

.pageTitle {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  margin-top: 3%;
}

.createpage {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .createimg {
    width: 36%;
    margin-top: -6%;
    height: 308px;
    background: #F9F9F9;
    position: relative;

    img {
      display: block;
      margin: 40px auto 0px auto;
    }
  }

  #createdImg {
    width: 100%;
    height: 100%;
    margin: 0px;
  }

  .create {
    width: 60%;
    position: relative;

    .createInput {
      width: 100%;
      position: relative;

      .createName {
        width: 100%;

        label {
          width: 100%;
          font-weight: 400;
          font-size: 14px;
        }

        input {
          width: 100%;
          padding: 12px 2px;
          border: 1px solid #0B1219;
        }
      }

      .createInfo {
        width: 100%;
        position: relative;

        label {
          width: 100%;
          font-weight: 400;
          font-size: 14px;
        }

        input {
          width: 100%;
          padding-bottom: 20%;
        }
      }
    }

   

    .buttons {
      display: flex;
      justify-content: flex-end;

      .removeBtn {
        border: 2px solid #06554D;
        background-color: #FFFFFF;
        padding: 12px 80px 16px 80px;
        font-size: 20px;
        cursor: pointer;
        
      }

      .addBtn {
        margin-left: 24px;
        color: #FFFFFF;
        border: 1px solid#06554D;
        background-color: #06554D;
        padding: 12px 80px 16px 80px;
        font-size: 20px;
        cursor: pointer;
      }
    }

    .addBtn:hover{
      cursor: pointer;
      background: #E1AA5A;
    }
    .addBtn:active{
      cursor: pointer;
      background: #9E9E9E;

    }
    .removeBtn:hover{
      cursor: pointer;
      background: #E1AA5A;
    }
    .removeBtn:active{
      cursor: pointer;
      background: #9E9E9E;

    }

    #leftBtn {
      margin-left: -1%;
      margin-top: 0;
     

      img {
        margin-right: 10px;
      }
    }
  }
}
.leftbtn{
  label:hover{
    cursor: pointer;
  }
}
.imageErrorIcon {
  color: red;
  fill: red;
  filter: red;
}

.inputError {
  color: red;
  border: 1px solid red;
}

#inputError::placeholder {
  color: red;
}

#inputError {
  color: red;
  border: 1px solid red;
}

.inputError::placeholder {
  color: red;
}

.labelError {
  color: red;
}

#errorMessageForName {
  width: 100%;
  height: 0;
  display: flex;
  justify-content: flex-end;
  font-family: "Segoe UI";
  color: red;
  font-size: 14px;
  font-weight: 400;
}

#errorMessageForTitle {
  width: 100%;
  height: 0;
  display: flex;
  justify-content: flex-end;
  font-family: "Segoe UI";
  color: red;
  font-size: 14px;
  font-weight: 400;
  border: none;
}

#hideErrorMessage {
  display: none;
}

.imageErrorMessage {
  color: red;
}

.imageError {
  width: 42%;
  height: 0;
  border: 1px solid red;
}

@media (max-width:1071px) and (min-width:905px) {
  #container {
    width: 90%;
    margin: 0 auto;
  }

  #createTitle {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
  }

  #createpage {
    width: 100%;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    margin-top: 36px;
  }

  #createImage {
    width: 70%;
  }

  #create {
    width: 80%;
    margin-left: 3%;
  }

  #createInput {
    width: 100%;
    margin-top: 20px;
  }

  #createName {

    width: 100%;

    label {
      width: 100%;
    }

    input {
      width: 100%;
      margin-right: 0;
    }
  }

  #createInfo {
    width: 100%;
    margin-top: 10%;

    input {
      padding-bottom: 25%;
    }
  }

  #buttons {
    width: 100%;
    margin-left: 5%;
    margin-top: 20px;

    #removeBtn {
      width: 45%;
      padding: 9px 25px 10px 25px;
      font-size: 18px;
    }

    #addBtn {
      width: 45%;
      padding: 9px 24px 10px 24px;
      font-size: 18px;
    }
  }

  #leftBtn {
    left: -93%;
    top: 90%;
  }
}

@media (max-width:905px) and (min-width:769px) {
  #container {
    width: 90%;
    margin: 0 auto;
  }

  #createTitle {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
  }

  #createpage {
    width: 100%;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    margin-top: 36px;
  }

  #createImage {
    width: 70%;
  }

  #create {
    width: 80%;
    margin-left: 3%;
  }

  #createInput {
    width: 100%;
    margin-top: 20px;
  }

  #createName {

    width: 100%;

    label {
      width: 100%;
    }

    input {
      width: 100%;
      margin-right: 0;
    }
  }

  #createInfo {
    width: 100%;
    margin-top: 10%;

    input {
      padding-bottom: 25%;
    }
  }
  #buttons {
    width: 100%;
    margin-left: 3%;
    margin-top: 20px;

    #removeBtn {
      width: 45%;
      padding: 9px 25px 10px 25px;
      font-size: 18px;
    }

    #addBtn {
      width: 45%;
      padding: 9px 24px 10px 24px;
      font-size: 18px;
    }
  }

  #leftBtn {
    left: -93%;
    top: 92%;
  }

}

@media (max-width:537px) {
  #buttons {
    width: 100%;
    margin-top: 20px;
    margin-left: 90%;
  }
}

@media (max-width:769px) and (min-width:579px) {
  #container {
    width: 90%;
    margin: 0 auto;
  }

  #createTitle {
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }

  #createImage {
    width: 70%;
  }

  #createpage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 66px
  }

  #createimg {
    width: 70%;
  }

  #imageError {
    width: 70%;
  }

  #create {
    width: 70%;
  }

  #createInput {
    width: 100%;
  }

  #createName {
    margin-top: 49px;
    width: 100%;

    label {
      width: 100%;
    }

    input {
      width: 100%;
      margin-right: 0;
    }
  }

  #createInfo {
    width: 100%;
    margin-top: 5%;
  }

  #buttons {
    width: 100%;
    margin-top: 20px;
    margin-left: 2%;

    #removeBtn {
      width: 45%;
      padding: 6px 27px 10px 27px;
      font-size: 20px;
    }

    #addBtn {
      width: 45%;
      padding: 6px 24px 10px 24px;
      font-size: 20px;
    }
  }

  #leftBtn {
    margin-top: 7%;
    margin-left: 0%;
    z-index: 60;
  }

}

@media (max-width:579px) and (min-width:505px) {
  #container {
    width: 90%;
    margin: 0 auto;
  }

  #createTitle {
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }

  #createImage {
    width: 70%;
  }

  #createpage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 66px
  }

  #createimg {
    width: 70%;
  }

  #imageError {
    width: 70%;
  }

  #create {
    width: 70%;
  }

  #createInput {
    width: 100%;
  }

  #createName {
    margin-top: 49px;
    width: 100%;

    label {
      width: 100%;
    }

    input {
      width: 100%;
      margin-right: 0;
    }
  }

  #createInfo {
    width: 100%;
    margin-top: 5%;
  }

  #buttons {
    width: 100%;
    margin-top: 20px;
    margin-left: 1%;

    #removeBtn {
      width: 45%;
      padding: 6px 27px 10px 27px;
      font-size: 17px;
    }

    #addBtn {
      width: 45%;
      padding: 6px 24px 10px 24px;
      font-size: 17px;
    }
  }

  #leftBtn {
    margin-top: 7%;
    margin-left: 0%;
    z-index: 60;
  }

}

@media (max-width:509px) {
  #container {
    width: 90%;
    margin: 0 auto;
  }

  #createTitle {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }

  #createpage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 66px
  }

  #createimg {
    width: 100%;
    margin-top: -40px;

  }

  #createImage {
    width: 100%;
  }

  #imageError {
    width: 100%;
  }

  #create {
    width: 100%;
  }

  #createInput {
    width: 100%;
  }

  #createName {
    margin-top: 38px;
    width: 100%;

    label {
      width: 100%;
    }

    input {
      width: 100%;
      margin-right: 0;
    }
  }

  #createInfo {
    width: 100%;
    margin-top: 10%;
  }

  #buttons {
    width: 100%;
    margin-top: 20px;
    margin-left: 1%;

    #removeBtn {
      width: 45%;
      padding: 6px 27px 10px 27px;
      font-size: 14px;
    }

    #addBtn {
      width: 45%;
      padding: 6px 24px 10px 24px;
      font-size: 14px;
    }
  }

  #leftBtn {
    margin-top: 3%;
    margin-left: 5%;
  }

}