@mixin header {
  width: 100%;
  margin: 0 auto;
  background-color: #2C3034;
}

@mixin headerContainer {
 max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

@mixin headerContainerH5 {
  margin-left: 13px;
  font-size: 18px;
  font-family: "Arian AMU";
  line-height: 21px;
  ont-style: normal;
  font-weight: 700;
  color: #FFFFFF;
}

@mixin headerContainerH6 {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  margin-left: 12px;
}

.header {
  @include header;
}

.headerContainer {
  @include headerContainer;

  div {
    display: flex;
    align-items: center;
  }

  .headerVectorPart {
    width: 120px
  }

  h5 {
    @include headerContainerH5
  }

  h6 {
    @include headerContainerH6;
  }
}
.headerVectorPart:hover{
  cursor: pointer;
}

@media (max-width:891px) and (min-width:769px) {
  #headerContainerH5 {
    font-size: 18px;
  }

  #headerContainerH6 {
    font-size: 14px;
    margin: 8px;
  }
}

@media (max-width:769px) and (min-width:646px) {
  #headerContainerH5 {
    font-size: 18px;
  }

  #headerContainerH6 {
    font-size: 14px;
    margin: 8px;
  }

  .headerContainer {
    height: 60px;
  }

}

@media (max-width:646px) {
  #headerContainerH5 {
    font-size: 12px;
  }

  #headerContainerH6 {
    font-size: 14px;
    margin: 8px;
  }

  .headerContainer {
    height: 60px;
  }
}